<div class="container-fluid">
  <br/>
  <div>
    <button class="btn-success btn-xlarge" [routerLink]="['/patientcal']" routerLinkActive="active">Consulter mes Rendez-vous</button>
  </div>
  <br/>
  <input [(ngModel)]="recherche">&nbsp;
  <button class="btn btn-info" (click)="listnom()">Recherche par nom</button>&nbsp;
  <button class="btn btn-info" (click)="listville()">Recherche par ville</button>&nbsp;
  <button class="btn btn-info" (click)="listspe()">Recherche par spécialité</button><br/>

  <table class="table" >

    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Spécialités</th>
      <th>Lieu(x) de consultation</th>
      <th></th>
    </tr>
    <tr lignePraticien (praticienRefresh)="list()" [praticien]='p' [user]="user"
        *ngFor="let p of praticiens"></tr>

  </table>
</div>


